@import '../styles.scss';
.content {
    display: flex;
}
.menu {
    width: $menu-width;
    background-color: $dark-green;
}
.image {
    margin: 0;
    width: $menu-width;
    height: calc($menu-width - 4px);
}
::ng-deep .p-megamenu {
    width: $menu-width;
    min-height: calc($min-height - $menu-width);
    margin: 0;
    background-color: $dark-green;
    border: none;
}
:host ::ng-deep .p-menuitem {
    width: $menu-width;
}
:host ::ng-deep .p-menuitem-icon, :host ::ng-deep .p-menuitem-text {
    color: white !important;
}
:host ::ng-deep .p-button{
    margin: $margin / 2;
}
::ng-deep .p-card {
    min-height: calc($min-height - 2 * $margin);
    width: calc($pages-width - 2 * $margin);
    margin: $margin;
    .p-card-content, &.p-menuitem {
        padding: 0;
        margin: 0;
    }
}
:host ::ng-deep .p-tabview-panels {
    padding: 0;
}
:host ::ng-deep .p-tabview-nav {
    & li.p-highlight a {
        color: white !important;
        background-color: $dark-green !important;
        box-shadow: none !important;
    }
}
:host ::ng-deep .p-datatable {
    th {
        background-color: $medium-green !important;
        color: white !important;
    }
    td {
        padding: 0 !important;
    }
    th, td {
        &.alignRight {
            text-align: right !important;
        }
        &.alignCenter {
            text-align: center !important;
        }
        &.alignLeft {
            text-align: left !important;
        }
    }
}
:host ::ng-deep .p-datepicker-trigger {
    margin: 0;
}