<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="p-fluid grid formgrid">
        <div class="p-float-label field col-4">
            <input id="numControle" type="number" pInputText formControlName="numControle" (focusout)="onSetNumControle($event)"> 
            <label for="numControle">Número de Controle</label>
        </div>

        <div class="p-float-label field col-8">
            <p-autoComplete
                #animal
                formControlName="animal"
                [suggestions]="animaisOptions"
                [showEmptyMessage]="true"
                emptyMessage="Não há dados a serem exibidos."
                field="nome_animal"
                (completeMethod)="autocompleteAnimal($event)"
                (onFocus)="animal.show()"
                (onSelect)="onSelectAnimal($event)"
                appendTo="body"
                ></p-autoComplete>
            <label for="animal">Nome animal</label>
        </div>
        
        <div class="p-float-label field col-3">
            <p-calendar id="data_ocorrencia" [showIcon]="true"  formControlName="data_ocorrencia" appendTo='body' dateFormat="dd/mm/yy" (onSelect)="changed = true"></p-calendar>
            <label for="data_ocorrencia">Data Ocorrência</label>
        </div>
        
        <div class="field col">
            <div class="spanLabel">
                <label for="morte">Morte?</label>
            </div>
            <p-inputSwitch id="morte" formControlName="morte"></p-inputSwitch>
        </div>

        <div class="p-float-label field col-8">
            <p-autoComplete
                #medicamento
                formControlName="medicamento"
                [suggestions]="medicamentosOptions"
                [showEmptyMessage]="true"
                emptyMessage="Não há dados a serem exibidos."
                field="medicamento"
                (completeMethod)="autocompleteMedicamento($event)"
                (onFocus)="medicamento.show()"
                appendTo="body"
                ></p-autoComplete>
            <label for="medicamento">Medicamento</label>
        </div>
        
        <div class="p-float-label field col-12">
            <textarea  id="descricao" pInputTextarea  formControlName="descricao"></textarea>
            <label for="descricao">Descrição Ocorrência</label>
        </div>
    </div>

    <div class="modal-buttons-bar">
        <div class="buttons">
            <button *ngIf="editMode" pButton type="submit" label="Salvar" class="p-button-raised"></button>
            <button *ngIf="!editMode" pButton type="button" (click)="edit()" label="Editar" class="p-button-raised"></button>

            <button *ngIf="editMode" pButton type="button" (click)="cancel(!ocorrencia.id)" label="Cancelar" class="p-button-outlined"></button>
            <button *ngIf="!editMode" pButton type="button" (click)="cancel(true)" label="Voltar" class="p-button-outlined"></button>
        </div>
    </div>
</form>