.login-page {
    display: flex;
    height: 100vh;
    overflow: hidden;
    
    .img {
        img {
            height: 100%;
        }
    }

    .login-form {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;

        .card {
            min-width: 500px;
            padding: 30px;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                width: 100%;
            }
        }
    }
}

:host ::ng-deep .p-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    .p-card-body {
        width: 100%;
    }
}

:host ::ng-deep .p-inputtext {
    width: 100%;
}