/* You can add global styles to this file, and also import other style files */

// Spacing
$min-height: 100vh;
$menu-width: 260px;
$pages-width: calc(98vw - $menu-width);
$margin: 10px;

// Colors
$dark-green: darkgreen;
$medium-green: rgb(76, 175, 80);
$light-green: rgb(254, 255, 254);

html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
}

// Components
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .buttons {
        margin-right: -$margin / 2;
    }
}
.footer-buttons-bar {
    position: relative;
    bottom: $margin;
    right: $margin;
    .buttons {
        padding: $margin;
    }
}
.modal-buttons-bar {
    display: flex;
    justify-content: flex-end;
}
.action-buttons {
    display: flex;
    justify-content: center;
    margin: $margin 0;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    button {
        margin: $margin / 2;
    }
}
// Formulários
.grid .field {
    display: grid;
    align-self: flex-end !important;
}
label {
    left: 0.75rem !important;
}
.p-float-label {
    margin-top: 1rem;
}
.p-datepicker-trigger {
    margin: 0;
}

.noData{
    padding-top: 1rem !important;
    text-align: center !important;
}