/* You can add global styles to this file, and also import other style files */

// Spacing
$height: 100vh;
$menu-width: 220px;
$pages-width: calc(100vw - $menu-width);
$margin: 10px;

// Colors
$dark-green: darkgreen;
$medium-green: rgb(76, 175, 80);
$light-green: rgb(254, 255, 254);

html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
}

// Components
.header {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}
.footer-buttons-bar {
    position: fixed;
    bottom: $margin;
    right: $margin;
    width: calc($pages-width - 2 * $margin);
    .buttons {
        display: flex;
        justify-content: flex-end;
        padding: $margin;
    }
}
.grid .field {
    display: grid;
    align-self: flex-end !important;
}

.noData{
    padding-top: 1rem !important;
    text-align: center !important;
}