<div>
    <p-tabView>
        <p-tabPanel class="tabHeader" header="Inseminações/Coberturas" *ngIf="data?.sexo == 0">
            <p-table [value]="inseminacoes" styleClass="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="alignCenter">Data</th>
                        <th class="alignCenter">Previsão Parto</th>
                        <th class="alignCenter">Reprodutor</th>
                        <th class="alignCenter">Detalhes</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td class="alignCenter">{{element.data_inseminacao | date: 'dd/MM/yyyy': 'UTC'}}</td>
                        <td class="alignCenter">{{element.data_previsao_parto | date: 'dd/MM/yyyy': 'UTC'}}</td>
                        <td class="alignLeft">{{element.reprodutor?.nome_animal}}</td>
                        <td class="alignCenter">
                            <button pButton (click)="editInseminacao(element)" class="p-button-rounded" icon="pi pi-pencil"></button>
                            <button pButton (click)="deleteInseminacao(element.id)" class="p-button-rounded p-button-danger" icon="pi pi-trash"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="noData" *ngIf="inseminacoes.length == 0">
                Não há dados a serem exibidos.
            </div>
        </p-tabPanel>

        <p-tabPanel class="tabHeader" header="Partos" *ngIf="data?.sexo == 0">
            <p-table [value]="partos" styleClass="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="alignCenter">Data</th>
                        <th class="alignCenter">Nome Cria</th>
                        <th class="alignCenter">Sexo Cria</th>
                        <th class="alignCenter">Nº Registro Cria</th>
                        <th class="alignCenter">Reprodutor</th>
                        <th class="alignCenter">Detalhes</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td class="alignCenter">{{element.data_parto | date: 'dd/MM/yyyy': 'UTC'}}</td>
                        <td class="alignLeft">{{element.nome_cria}}</td>
                        <td class="alignCenter">{{element.sexo == 0 ? "Fêmea" : element.sexo == 1 ? "Macho" : ""}}</td>
                        <td class="alignCenter">{{element.nro_controle_cria ? element.nro_controle_cria : ""}}</td>
                        <td class="alignLeft">{{element.reprodutor?.nome_animal}}</td>
                        <td class="alignCenter">
                            <button pButton (click)="editParto(element)" class="p-button-rounded" icon="pi pi-pencil"></button>
                            <button pButton (click)="deleteParto(element.id)" class="p-button-rounded p-button-danger" icon="pi pi-trash"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="noData" *ngIf="partos.length == 0">
                Não há dados a serem exibidos.
            </div>
        </p-tabPanel>

        <p-tabPanel class="tabHeader" header="Vacinações">
            <p-table [value]="vacinacoes" styleClass="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr class="tableHeader">
                        <th class="alignCenter">Data Vacinação</th>
                        <th class="alignCenter">Vacina</th>
                        <th class="alignCenter">Dose</th>
                        <th class="alignCenter">Detalhes</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td class="alignCenter">{{element.data_vacinacao | date: 'dd/MM/yyyy': 'UTC'}}</td>
                        <td class="alignLeft">{{element.vacina_vermifugo?.vacina_vermifugo}}</td>
                        <td class="alignCenter">{{element.dose}} {{element.doses}}</td>
                        <td class="alignCenter">
                            <button pButton (click)="editVacinacao(element)" class="p-button-rounded" icon="pi pi-pencil"></button>
                            <button pButton (click)="deleteVacinacao(element.id)" class="p-button-rounded p-button-danger" icon="pi pi-trash"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="noData" *ngIf="vacinacoes.length == 0">
                Não há dados a serem exibidos.
            </div>
        </p-tabPanel>

        <p-tabPanel class="tabHeader" header="Vermifugações">
            <p-table [value]="vermifugacoes" styleClass="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr class="tableHeader">
                        <th class="alignCenter">Data Vermifugação</th>
                        <th class="alignCenter">Vermífugo</th>
                        <th class="alignCenter">Dose</th>
                        <th class="alignCenter">Detalhes</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td class="alignCenter">{{element.data_vacinacao | date: 'dd/MM/yyyy': 'UTC'}}</td>
                        <td class="alignLeft">{{element.vacina_vermifugo?.vacina_vermifugo}}</td>
                        <td class="alignCenter">{{element.dose}} {{element.doses}}</td>
                        <td class="alignCenter">
                            <button pButton (click)="editVacinacao(element)" class="p-button-rounded" icon="pi pi-pencil"></button>
                            <button pButton (click)="deleteVacinacao(element.id)" class="p-button-rounded p-button-danger" icon="pi pi-trash"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="noData" *ngIf="vermifugacoes.length == 0">
                Não há dados a serem exibidos.
            </div>
        </p-tabPanel>

        <p-tabPanel class="tabHeader" header="Ocorrências/Medicações">
            <p-table [value]="ocorrencias" styleClass="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="alignCenter">Data Ocorrência</th>
                        <th class="alignCenter">Descrição</th>
                        <th class="alignCenter">Medicamento</th>
                        <th class="alignCenter">Detalhes</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td class="alignCenter">{{element.data_ocorrencia | date: 'dd/MM/yyyy': 'UTC'}}</td>
                        <td class="alignLeft">{{element.descricao}}</td>
                        <td class="alignLeft">{{element.medicamento?.medicamento}}</td>
                        <td class="alignCenter">
                            <button pButton (click)="editOcorrencia(element)" class="p-button-rounded" icon="pi pi-pencil"></button>
                            <button pButton (click)="deleteOcorrencia(element.id)" class="p-button-rounded p-button-danger" icon="pi pi-trash"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="noData" *ngIf="ocorrencias.length == 0">
                Não há dados a serem exibidos.
            </div>
        </p-tabPanel>
    </p-tabView>
</div>

<p-confirmDialog header="Atenção!" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>